@using HackathonX.Service

<style>
  .empty-questionnaire {
      margin: 12rem 2rem;
      text-align: center;
  }

  .btn-next-question {
      width: 22.4rem;
      margin: 0 1rem;
  }
</style>

@if (CurrentQuestion == null)
{
  <div class="empty-questionnaire">Click on a puzzle cell</div>
}
else
{
  <EditForm Model="@CurrentQuestion" OnValidSubmit="@AnswerTheQuestion">
    <div class="form-group">
      <label>@CurrentQuestion.Text</label>
      <div class="form-control">
      <InputRadioGroup id="userAnswerId" @bind-Value="CurrentQuestion.Useranswerid">
      @foreach(var ans in CurrentQuestion.Answers)
      {
        <div>
          <InputRadio Value="@ans.Id"/> @ans.Text
        </div>
      }
      </InputRadioGroup>
      </div>
    </div>
    <button class="btn btn-primary btn-next-question" type="submit">Next</button>
  </EditForm>
}

@code {
  [Parameter] public Question? CurrentQuestion { get; set; }
  [Parameter] public EventCallback<Question?> AbsencePlanSubmitted { get; set; }

  private async Task AnswerTheQuestion()
  {
    await AbsencePlanSubmitted.InvokeAsync(CurrentQuestion);
  }
}
