@using HackathonX.Web.Data

@if (CurrentQuestion == null)
{
  <span>Click on a puzzle cell</span>
}
else
{
  <span>@CurrentQuestion.Id</span>
  <EditForm Model="@CurrentQuestion" OnValidSubmit="@AnswerTheQuestion">
    <div class="form-group">
      <label>@CurrentQuestion.Text</label>
      <div class="form-control">
      <InputRadioGroup id="answerId" @bind-Value="CurrentQuestion.AnswerId">
      @foreach(var ans in CurrentQuestion.Answers)
      {
        <div>
          <InputRadio Value="@ans.Id"/> @ans.Text
        </div>
      }
      </InputRadioGroup>
      </div>
    </div>
    <button type="submit">Next</button>
  </EditForm>
}

@code {
  [Parameter] public Question? CurrentQuestion { get; set; }
  [Parameter] public EventCallback<Question?> AbsencePlanSubmitted { get; set; }

  private async Task AnswerTheQuestion()
  {
    await AbsencePlanSubmitted.InvokeAsync(CurrentQuestion);
  }
}
